@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Github:</strong> <a href="https://github.com/ShinyTeeth/One-Vote/">https://github.com/ShinyTeeth/One-Vote/</a><br />
</address>
